<ion-header>
  <ion-toolbar color="primary" class="ion-no-margin">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-searchbar class="ion-text-center" [placeholder]='ts.lanPack.menu[is.defaultLanguage]'></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div [ngStyle]="{'background-image':'url('+ is.logo +')','background-size': 'cover'}">
    <ion-slides [options]='sliderOptions'>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}1</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}2</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}3</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}4</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}5</ion-card-title></ion-card-header></ion-card></ion-slide>
    </ion-slides>
    <ion-slides [options]='sliderOptions'>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}1</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}2</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}3</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}4</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}5</ion-card-title></ion-card-header></ion-card></ion-slide>
    </ion-slides>
    <ion-slides [options]='sliderOptions'>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}1</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}2</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}3</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}4</ion-card-title></ion-card-header></ion-card></ion-slide>
    </ion-slides>
    <ion-slides [options]='sliderOptions'>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}1</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}2</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}3</ion-card-title></ion-card-header></ion-card></ion-slide>
    </ion-slides>
    <ion-slides [options]='sliderOptions'>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}1</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}2</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}3</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}4</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}5</ion-card-title></ion-card-header></ion-card></ion-slide>
    </ion-slides>
    <ion-slides [options]='sliderOptions'>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}1</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}2</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}3</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}4</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}5</ion-card-title></ion-card-header></ion-card></ion-slide>
    </ion-slides>
    <ion-slides [options]='sliderOptions'>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}1</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}2</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}3</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}4</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}5</ion-card-title></ion-card-header></ion-card></ion-slide>
    </ion-slides>
    <ion-slides [options]='sliderOptions'>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}1</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}2</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}3</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}4</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}5</ion-card-title></ion-card-header></ion-card></ion-slide>
    </ion-slides>
    <ion-slides [options]='sliderOptions'>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}1</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}2</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}3</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}4</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}5</ion-card-title></ion-card-header></ion-card></ion-slide>
    </ion-slides>
    <ion-slides [options]='sliderOptions'>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}1</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}2</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}3</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}4</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}5</ion-card-title></ion-card-header></ion-card></ion-slide>
    </ion-slides>
    <ion-slides [options]='sliderOptions'>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}1</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}2</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}3</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}4</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}5</ion-card-title></ion-card-header></ion-card></ion-slide>
    </ion-slides>
    <ion-slides [options]='sliderOptions'>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}1</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}2</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}3</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}4</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}5</ion-card-title></ion-card-header></ion-card></ion-slide>
    </ion-slides>
    <ion-slides [options]='sliderOptions'>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}1</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}2</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}3</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}4</ion-card-title></ion-card-header></ion-card></ion-slide>
      <ion-slide><ion-card><ion-card-header><ion-card-title class="ion-text-center">{{is.storeName|titlecase}}5</ion-card-title></ion-card-header></ion-card></ion-slide>
    </ion-slides>
  </div>
</ion-content>









